@media screen and (max-width:1100px) {
    /* project */
    .left__items{
        padding-bottom: 20px;
        padding-right: 0px;
        width: 100%;
    }

    .right__items{
        width: 100%;
    }

    /* rent */
    .rent__left{
        width: 100%;
        padding-right: 0;
        text-align: center;
        padding: 0 10px;
    }

    .rent__text{
        padding-right: 0;
    }

    .rent__right{
        width: 100%;
    }

    /* news */
    .main__img{
        padding-right: 10px;
    }

    /* footer */
    .footer{
        padding: 0 20px;
    }

    .decor__items{
        padding:156px 20px 70px;
    }

    .decor__news{
        padding: 156px 20px 70px;
    }
}

@media screen and (max-width:960px){
    /* header */

    .header__nav{
        display: none;
    }

    /* hero */

    .hero{
        display: flex;
        align-items: center;
    }

    .hero__picture{
        display: none;
    }

    .hero__items{
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .hero__text{
        width: 100%;
    }
    
    .main__item{
        width: 100%;
        padding-bottom: 20px;
    }

    .news__items{
        width: 100%;
    }

    .left__item{
        display: flex;
        justify-content: center;
    }

    .main__img{
        height: 100%;
        width: 50%;
    }

    .Robe{
        width: 100%;
    }
}
@media screen and (max-width:860px) {
    .media__row{
        justify-content: center;
        align-items: center;
    }

    /* catalog */
    .catalog__content{
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 30px;
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:376px) {
    .decor__items svg{
        display: none;
    }

    .decor__items .decor__title{
        padding: 0;
    }

    .decor__block svg{
        display: none;
    }

    .decor__block .decor__title{
        padding: 0;
    }

    .catalog__content{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .rent__subtitle{
        font-size: 18px;
    }

    .list__items::before{
        display: none;
    }

    .col-6{
        width: 100%;
    }

    .top__text{
        padding: 10px 0;
        text-align: unset;
    }

    .col-4{
        width: 33%;
    }
}
